configuration {
    font: "Thunderman 10";
}

window {
    location: center;
    anchor:   center;
    width:    400px;
}

mainbox {
    children: [ inputbar, listview ];
}

inputbar {
    children: [ entry ];
}

entry {
    text-color:  #ffffff;
    placeholder: "Enter Password:";
}

listview {
    columns:      1;
    lines:        0;
    scrollbar:    false;
    fixed-height: false;
    dynamic:      true;
}
